<div id="customerRecords" class="row">
<div class="large-4 columns">
      <input id="readerbox1" type="checkbox" ng-model="search.reader" ng-true-value="0" ng-false-value=""><label for="readerbox1">Reader 0</label>
      <input id="readerbox2" type="checkbox" ng-model="search.reader" ng-true-value="1" ng-false-value=""><label for="readerbox2">Reader 1</label>
    </div>  
    <div class="large-4 large-offset-2 columns">
          <label for="search-label" class="right">Search</label>
        </div>
        <div class="large-2 columns">
          <input type="text" id="search-label" placeholder="User Info" ng-model="search.$">
        </div>
<table id="customerTable" class="large-12 columns">
  <thead>
    <tr>
      <th>Name</th>
      <th>TimeStamp</th>
      <th>Battery</th>
      <th>Reader</th>
      <th>Synced</th>
      <th>In/Out</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers | filter:search">
      <td>Ulrik Andersen</td>
      <td>{{customer.time}}</td>
      <td>{{customer.UID}}</td>
      <td>{{customer.reader}}</td>
      <td>NO</td>
      <td>O</td>
    </tr>
  </tbody>
</table>
</div>
<div class="small-4 columns ">
	<a id="cNC" href="#/" class="small alert button">Back</a>       
</div>
