<div id="newCustomerForm" class="row">
     	<div class="small-3 small-pull-2 columns"></div>
        <div class="large-3 columns">
          <label>Name
            <input type="text" placeholder="Jimmy" />
          </label>
        </div>
        <div class="large-3 columns">
          <label>CPR Number
            <input type="text" placeholder="141414 1414" />
          </label>
        </div>
        <div class="large-3 columns">
          <label>Battery</label>
            <div  class="small-10 columns">
              <a id="batteryField" href="#" class="button alert postfix">Scan</a>
            </div>
          
        </div>
        <div class="large-2 columns">
          <div class="row collapse">
            <div class="small-9 columns">
              <label>Cable Type
                <select>
                  <option value="Apple">Apple</option>
                  <option value="Android">Android</option>
                </select>
              </label>
            </div>
          </div>
        </div>          
        <div class="small-4 columns ">
        <a id="cNC" href="#" class="small alert button">Cancel</a>       
        </div>
       	<div class="small-3 columns ">
    		<a id="okNC" href="#" class="small success button expand">OK</a>       		      
        </div>
      </div>
