<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div style="margin-right:20px; margin-top:7px; float: right;">
		<button class="btn btn-primary btn-lg" ng-click="getBlocks();" data-toggle="modal" data-target="#pair">
		  Pair Block
		</button>
	</div>
	<div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Gateway</a>
		</div>
		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#/">Home</a></li>
			<li><a href="#/stats">Statistics</a></li>
			<li><a href="#/settings">Settings</a></li>
		  </ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<div class="container">
	<div style="height:100px;"></div>
	<div class="row">
		<div class="col-md-4">
			<div style="height:30px"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ninja.data.default_name}}</h3>
				  </div>
				<div class="panel-body">
					<div>
					  <p>{{ninja.data.shortName}} 
						<div class="input-group">
						<span class="input-group-addon">#</span>
						  <input type="text" class="form-control" ng-model="ninja.value">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="changeColor(ninja.id, ninja.value);">Change</button>
						  </span>
						</div><!-- /input-group -->
					  </p>
					  
					</div>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: #{{ninja.value}};">
						<span class="sr-only"></span>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div style="height:30px"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{radio.data.default_name}}</h3>
				  </div>
				<div class="panel-body">
					<div>
					  <p>{{radio.data.shortName}} 
						<div class="input-group" ng-repeat="subdevice in radio.subDevices" style="padding-bottom: 5px;">
						<span class="input-group-addon">{{subdevice.dev.shortName}}</span>
						  <input type="text" class="form-control" ng-model="subdevice.dev.data">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="sendRadio(radio.id, subdevice.id, subdevice.dev.data);">Push</button>
						  </span>
						</div><!-- /input-group -->
					  </p>
					  
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" ng-repeat="sensor in sensors">
			<div style="height:30px"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{sensor.data.default_name}}</h3>
				  </div>
				<div class="panel-body">
					<div>
					  <p>{{sensor.data.shortName}}: {{sensor.value}}</p>
					</div>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{sensor.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{sensor.value}}%;">
						<span class="sr-only">{{sensor.value}}</span>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="pair" tabindex="-1">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Pair Block</h4>
		</div>
		<div class="modal-body">
			<div class="list-group">
				<div class="list-group-item" ng-repeat="block in blocks">{{block.id}} <span style="float:right; cursor:pointer;" ng-click="unpairBlock(block.id);" class="glyphicon glyphicon-remove"></span></div>
				<div class="list-group-item">
						<div class="input-group">
						  <input type="text" class="form-control">
						  <span class="input-group-btn">
							<button class="btn btn-default" type="button">Add</button>
						  </span>
						</div><!-- /input-group -->
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
  </div>
</div>
